flow.json
[
    {
        "id": "49bc0590.7dfbbc",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1ae7875.db48b8",
        "type": "tab",
        "label": "Puzzel One",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43a9b478.44ee7c",
        "type": "tab",
        "label": "Puzzel Two",
        "disabled": false,
        "info": ""
    },
    {
        "id": "310e323a.3f4fde",
        "type": "tab",
        "label": "LCDDisplay",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdfc2121.4389c",
        "type": "tab",
        "label": "Keypad",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f9aad4f.35f562",
        "type": "tab",
        "label": "8 Digit Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "685a1b4c.2d2aa4",
        "type": "tab",
        "label": "Arcade Buttons",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2623fd5.e1fd1",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#525779",
                "baseFont": "Gill Sans,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#525779",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#525779",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#767ba2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#525779",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Gill Sans,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "83eb834b.a5f9c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e253c542.ba6148",
        "type": "ui_group",
        "z": "",
        "name": "Puzzel One",
        "tab": "83eb834b.a5f9c",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d5d16fed.a2664",
        "type": "ui_group",
        "z": "",
        "name": "Puzzel Two",
        "tab": "83eb834b.a5f9c",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1f395ace.e1db25",
        "type": "ui_group",
        "z": "",
        "name": "Main",
        "tab": "83eb834b.a5f9c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58876c76.3ad294",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "9b1d80a7.d0d81",
        "type": "serial-port",
        "z": "",
        "serialport": "COM17",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a2725a42.7fe458",
        "type": "serial-port",
        "z": "",
        "serialport": "COM20",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "76dee732.bc8d58",
        "type": "arduino-board",
        "z": "",
        "device": "COM13"
    },
    {
        "id": "46e2b868.2c1a18",
        "type": "ui_button",
        "z": "b1ae7875.db48b8",
        "name": "",
        "group": "e253c542.ba6148",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "force unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "d8cd97a6.e97d88"
            ]
        ]
    },
    {
        "id": "a3c7266c.bdc778",
        "type": "debug",
        "z": "b1ae7875.db48b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "d8cd97a6.e97d88",
        "type": "change",
        "z": "b1ae7875.db48b8",
        "name": "set unlock",
        "rules": [
            {
                "t": "set",
                "p": "puzzel_one_unlocked",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "198284a6.5521fb"
            ]
        ]
    },
    {
        "id": "198284a6.5521fb",
        "type": "function",
        "z": "b1ae7875.db48b8",
        "name": "status",
        "func": "msg.status=(msg.payload)?\"unlocked\":\"locked\";\nmsg.color=(msg.payload)?\"#00ff00\":\"#ff0000\"\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "38f4b9dd.0fab96",
                "66037046.c8f1b"
            ]
        ]
    },
    {
        "id": "38f4b9dd.0fab96",
        "type": "ui_template",
        "z": "b1ae7875.db48b8",
        "group": "e253c542.ba6148",
        "name": "Puzzel Status Color Bar",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div ng-style=\"{width:'100%',height:'10px','background-color':msg.color}\" ></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 690,
        "y": 140,
        "wires": [
            [
                "a3c7266c.bdc778"
            ]
        ]
    },
    {
        "id": "33b28050.5bd3a",
        "type": "link in",
        "z": "b1ae7875.db48b8",
        "name": "Reset Puzzel One",
        "links": [
            "c4594523.600ab8",
            "35c288c3.757398"
        ],
        "x": 175,
        "y": 200,
        "wires": [
            [
                "d8cd97a6.e97d88"
            ]
        ]
    },
    {
        "id": "66037046.c8f1b",
        "type": "ui_template",
        "z": "b1ae7875.db48b8",
        "group": "e253c542.ba6148",
        "name": "Status Header",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<i style=\"position:absolute;top:5px;left:10px\" ng-class=\"msg.payload ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></i>\n<div style=\"position:absolute;left:50px;top:10px;font-size:larger;\">Puzzel One</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "a3c7266c.bdc778"
            ]
        ]
    },
    {
        "id": "1b2f43b7.bb79dc",
        "type": "ui_button",
        "z": "43a9b478.44ee7c",
        "name": "",
        "group": "d5d16fed.a2664",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "force unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "9cedbdba.b2bf5"
            ]
        ]
    },
    {
        "id": "5ae50873.90f8e8",
        "type": "debug",
        "z": "43a9b478.44ee7c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "9cedbdba.b2bf5",
        "type": "change",
        "z": "43a9b478.44ee7c",
        "name": "set unlock",
        "rules": [
            {
                "t": "set",
                "p": "puzzel_one_unlocked",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "2fbce3d4.38ad8c"
            ]
        ]
    },
    {
        "id": "2fbce3d4.38ad8c",
        "type": "function",
        "z": "43a9b478.44ee7c",
        "name": "status",
        "func": "msg.status=(msg.payload)?\"unlocked\":\"locked\";\nmsg.color=(msg.payload)?\"#00ff00\":\"#ff0000\"\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "f8904a97.8a0a68",
                "8967adbd.cfa07"
            ]
        ]
    },
    {
        "id": "f8904a97.8a0a68",
        "type": "ui_template",
        "z": "43a9b478.44ee7c",
        "group": "d5d16fed.a2664",
        "name": "Puzzel Status Color Bar",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div ng-style=\"{width:'100%',height:'10px','background-color':msg.color}\" ></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "5ae50873.90f8e8"
            ]
        ]
    },
    {
        "id": "af5b48f1.3fb8e8",
        "type": "link in",
        "z": "43a9b478.44ee7c",
        "name": "Reset Puzzel One",
        "links": [
            "c4594523.600ab8",
            "35c288c3.757398"
        ],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "9cedbdba.b2bf5"
            ]
        ]
    },
    {
        "id": "8967adbd.cfa07",
        "type": "ui_template",
        "z": "43a9b478.44ee7c",
        "group": "d5d16fed.a2664",
        "name": "Status Header",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<i style=\"position:absolute;top:5px;left:10px\" ng-class=\"msg.payload ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></i>\n<div style=\"position:absolute;left:50px;top:10px;font-size:larger;\">Puzzel One</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 220,
        "wires": [
            [
                "5ae50873.90f8e8"
            ]
        ]
    },
    {
        "id": "ab43860f.7f8dd8",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "set button label",
        "func": "msg.label = msg.payload ? \"Stop\" : \"Start\";\nif(msg.payload){\n    msg.stopTime = Date.now();\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "e52bb061.65092"
            ]
        ]
    },
    {
        "id": "7ecd46da.c66578",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "running state",
        "func": "\nglobal.set(\"game_running\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "f1f70bf4.9ec8b8",
                "ab43860f.7f8dd8"
            ]
        ]
    },
    {
        "id": "e52bb061.65092",
        "type": "ui_button",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "group": "1f395ace.e1db25",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "480d4666.5ad8e8"
            ]
        ]
    },
    {
        "id": "80945237.653e3",
        "type": "link in",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "links": [
            "35c288c3.757398"
        ],
        "x": 55,
        "y": 240,
        "wires": [
            [
                "d9aa4ac0.c70d28",
                "ab43860f.7f8dd8"
            ]
        ]
    },
    {
        "id": "8b2b03dd.9e7be",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "stop game",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "7ecd46da.c66578"
            ]
        ]
    },
    {
        "id": "f1f70bf4.9ec8b8",
        "type": "switch",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "7c7bf627.682298"
            ],
            [
                "91197562.e53968",
                "a2614ede.a16cc"
            ]
        ]
    },
    {
        "id": "480d4666.5ad8e8",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "toggle running ",
        "func": "msg.payload = !global.get(\"game_running\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "7ecd46da.c66578"
            ]
        ]
    },
    {
        "id": "d9aa4ac0.c70d28",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stopTime",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "game_running",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "91197562.e53968"
            ]
        ]
    },
    {
        "id": "3bef3b6e.0b15e4",
        "type": "link in",
        "z": "49bc0590.7dfbbc",
        "name": "stop game",
        "links": [],
        "x": 55,
        "y": 280,
        "wires": [
            [
                "8b2b03dd.9e7be"
            ]
        ]
    },
    {
        "id": "7c7bf627.682298",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "set end time",
        "rules": [
            {
                "t": "set",
                "p": "end_time",
                "pt": "global",
                "to": "$millis()+3600000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "end_time",
                "pt": "msg",
                "to": "end_time",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "start_time",
                "pt": "global",
                "to": "$millis()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "start_time",
                "pt": "msg",
                "to": "start_time",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 140,
        "wires": [
            [
                "4a3ccc5c.0fbc14",
                "2479246c.47e66c"
            ]
        ]
    },
    {
        "id": "91197562.e53968",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "get end time",
        "rules": [
            {
                "t": "set",
                "p": "end_time",
                "pt": "msg",
                "to": "end_time",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "start_time",
                "pt": "msg",
                "to": "start_time",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 180,
        "wires": [
            [
                "2479246c.47e66c"
            ]
        ]
    },
    {
        "id": "a2614ede.a16cc",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "stop log msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "game stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "ea1af99b.5ba6e8"
            ]
        ]
    },
    {
        "id": "4a3ccc5c.0fbc14",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "start log msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "starting game",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "e75c739c.a5d16"
            ]
        ]
    },
    {
        "id": "2479246c.47e66c",
        "type": "ui_template",
        "z": "49bc0590.7dfbbc",
        "group": "1f395ace.e1db25",
        "name": "Countdown",
        "order": 2,
        "width": "6",
        "height": "2",
        "format": "<script>\n</script>\n<div layout=\"column\" layout-align=\"center center\">\n<div>&nbsp;</div>\n<div id=\"countdown-display\" style=\"font-size:xx-large\"></div>    \n</div>\n\n<script>\n    (function(scope) {\n        let element=document.getElementById(\"countdown-display\");\n        let endTime=Date.now();\n        let updateTimeout;\n        let stopTime=0;\n        let startTime;\n        let running = false;\n        //console.log('Position 1');\n        //console.dir(scope);\n        \n        const calcTime = function(fromTime,toTime){\n                let timeRemaining=Math.ceil( (toTime-fromTime) / 1000 );\n                console.log(fromTime,toTime,timeRemaining);\n                let overTime = timeRemaining<0;\n                if(overTime){\n                    timeRemaining=-timeRemaining;\n                }\n                hour=Math.floor(timeRemaining/3600);\n                minutes=Math.floor(timeRemaining/60)%60;\n                seconds=timeRemaining%60;\n                let timeStr = (overTime?\"-\":\"\")+[hour,minutes,seconds].map((m)=>m.toString().padStart(2,'0')).join(\":\");\n                return timeStr;\n        }\n        \n        \n        \n        scope.$watch('msg',function(msg){\n            if(!msg) return;\n            //console.log(msg);\n            running = msg.payload;\n            stopTime = msg.stopTime;\n            startTime = msg.start_time;\n            endTime = msg.end_time;\n           // console.log('msg.payload=',running);\n            //console.log('msg.stopTime',stopTime);\n            //console.log('msg.endTime',endTime);\n            if(running){\n                clearTimeout(updateTimeout);\n                updateTimeout=setInterval(function(){\n                    element.innerHTML = calcTime(startTime,Date.now());\n                },100);\n                \n            }\n            else {\n                //console.log(\"game not running\",endTime,stopTime);\n                clearTimeout(updateTimeout);\n                element.innerHTML=stopTime>0 ? calcTime(startTime,stopTime) : \"00:00:00\";\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1410,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ea1af99b.5ba6e8",
        "type": "link out",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "links": [
            "179bf5b.708fa0a"
        ],
        "x": 1255,
        "y": 300,
        "wires": []
    },
    {
        "id": "e75c739c.a5d16",
        "type": "link out",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "links": [
            "179bf5b.708fa0a"
        ],
        "x": 1535,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0eef9e9.191008",
        "type": "ui_button",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "group": "1f395ace.e1db25",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "35c288c3.757398"
            ]
        ]
    },
    {
        "id": "35c288c3.757398",
        "type": "link out",
        "z": "49bc0590.7dfbbc",
        "name": "Reset",
        "links": [
            "33b28050.5bd3a",
            "af5b48f1.3fb8e8",
            "80945237.653e3"
        ],
        "x": 295,
        "y": 120,
        "wires": []
    },
    {
        "id": "dc3a5a72.507928",
        "type": "inject",
        "z": "49bc0590.7dfbbc",
        "name": "Started",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "7bccdd8d.7d8374",
                "35c288c3.757398"
            ]
        ]
    },
    {
        "id": "7bccdd8d.7d8374",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "Config",
        "rules": [
            {
                "t": "set",
                "p": "sampleMachineUnlockCode",
                "pt": "global",
                "to": "[\"dog\",\"duck\",\"cat\",\"cow\"]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payphoneUnlockCode",
                "pt": "global",
                "to": "07973767708",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "switchBoxUnlockCode",
                "pt": "global",
                "to": "201102",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payphoneNumber1",
                "pt": "global",
                "to": "07989342484",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payphoneNumber2",
                "pt": "global",
                "to": "202020",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "drillGearstickCode",
                "pt": "global",
                "to": "416",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "drillKeypadCode",
                "pt": "global",
                "to": "13336",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "barcodes",
                "pt": "global",
                "to": "[\"5673981304006\",\"5676981304007\",\"5672981304009\",\"5677981304004\"]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "craneXSpeed",
                "pt": "global",
                "to": "8",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "craneYSpeed",
                "pt": "global",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "drillGearstckWords1",
                "pt": "global",
                "to": "bespoke,fourth,welcome,hungry,curious,cash",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "drillGearstckWords2",
                "pt": "global",
                "to": "items,cash,sold,out,member,online",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "drillGearstckWords3",
                "pt": "global",
                "to": "hungry,curious,fourth,members,cash,original",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "71374222.e574fc",
        "type": "serial out",
        "z": "310e323a.3f4fde",
        "name": "",
        "serial": "58876c76.3ad294",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "21c09078.34bb9",
        "type": "inject",
        "z": "310e323a.3f4fde",
        "name": "",
        "topic": "",
        "payload": "PRINT Welcome to ERIC\\n",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "71374222.e574fc"
            ]
        ]
    },
    {
        "id": "ec17c34d.2b166",
        "type": "inject",
        "z": "310e323a.3f4fde",
        "name": "",
        "topic": "",
        "payload": "print 1 Have a great time.",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "71374222.e574fc"
            ]
        ]
    },
    {
        "id": "9c073529.531688",
        "type": "serial in",
        "z": "bdfc2121.4389c",
        "name": "",
        "serial": "9b1d80a7.d0d81",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "e1c339ed.3890d8"
            ]
        ]
    },
    {
        "id": "e1c339ed.3890d8",
        "type": "debug",
        "z": "bdfc2121.4389c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "bcafdf27.c59eb",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "print",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "b3773493.7de9e8",
        "type": "inject",
        "z": "310e323a.3f4fde",
        "name": "",
        "topic": "",
        "payload": "clear",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "71374222.e574fc"
            ]
        ]
    },
    {
        "id": "323d9761.6c5248",
        "type": "debug",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d27f671.1db328",
        "type": "arduino in",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "14",
        "state": "PULLUP",
        "arduino": "76dee732.bc8d58",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "323d9761.6c5248",
                "5d1ca55e.a76a6c"
            ]
        ]
    },
    {
        "id": "bf396980.8734a8",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 310,
        "y": 520,
        "wires": []
    },
    {
        "id": "5d1ca55e.a76a6c",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "616d2b07.2fc084",
        "type": "status",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "scope": [
            "4d27f671.1db328"
        ],
        "x": 60,
        "y": 340,
        "wires": [
            [
                "2ff78e2f.c551b2"
            ]
        ]
    },
    {
        "id": "192ffe4b.a3ac62",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "13",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "3ccf3489.deec8c",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "13",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "4420244.4172edc",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "15",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 320,
        "y": 340,
        "wires": []
    },
    {
        "id": "2ff78e2f.c551b2",
        "type": "change",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "4420244.4172edc",
                "192ffe4b.a3ac62",
                "3ccf3489.deec8c",
                "bf396980.8734a8"
            ]
        ]
    },
    {
        "id": "da530766.203cb8",
        "type": "serial request",
        "z": "3f9aad4f.35f562",
        "name": "",
        "serial": "a2725a42.7fe458",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "9491074b.eea0d8"
            ]
        ]
    },
    {
        "id": "9491074b.eea0d8",
        "type": "debug",
        "z": "3f9aad4f.35f562",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "f4c72eb0.b3ab2",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "print 0000",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "c8bed457.54be78",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "align left",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "4506ac4.2cc8d54",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "align right",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "7f7b2a97.293ba4",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "print 1234",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    }
]