flow.json
[{"id":"b1ae7875.db48b8","type":"tab","label":"Puzzel One","disabled":false,"info":""},{"id":"43a9b478.44ee7c","type":"tab","label":"Puzzel Two","disabled":false,"info":""},{"id":"49bc0590.7dfbbc","type":"tab","label":"All","disabled":false,"info":""},{"id":"d2623fd5.e1fd1","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#525779","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#525779","edited":true},"page-titlebar-backgroundColor":{"value":"#525779","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#767ba2","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#525779","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Gill Sans,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"83eb834b.a5f9c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e253c542.ba6148","type":"ui_group","z":"","name":"Puzzel One","tab":"83eb834b.a5f9c","order":2,"disp":false,"width":"6","collapse":false},{"id":"d5d16fed.a2664","type":"ui_group","z":"","name":"Puzzel Two","tab":"83eb834b.a5f9c","order":3,"disp":false,"width":"6","collapse":false},{"id":"1f395ace.e1db25","type":"ui_group","z":"","name":"Main","tab":"83eb834b.a5f9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"46e2b868.2c1a18","type":"ui_button","z":"b1ae7875.db48b8","name":"","group":"e253c542.ba6148","order":3,"width":0,"height":0,"passthru":true,"label":"force unlock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":140,"wires":[["d8cd97a6.e97d88"]]},{"id":"a3c7266c.bdc778","type":"debug","z":"b1ae7875.db48b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":180,"wires":[]},{"id":"d8cd97a6.e97d88","type":"change","z":"b1ae7875.db48b8","name":"set unlock","rules":[{"t":"set","p":"puzzel_one_unlocked","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":200,"wires":[["198284a6.5521fb"]]},{"id":"198284a6.5521fb","type":"function","z":"b1ae7875.db48b8","name":"status","func":"msg.status=(msg.payload)?\"unlocked\":\"locked\";\nmsg.color=(msg.payload)?\"#00ff00\":\"#ff0000\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["38f4b9dd.0fab96","66037046.c8f1b"]]},{"id":"38f4b9dd.0fab96","type":"ui_template","z":"b1ae7875.db48b8","group":"e253c542.ba6148","name":"Puzzel Status Color Bar","order":2,"width":0,"height":0,"format":"<div ng-style=\"{width:'100%',height:'10px','background-color':msg.color}\" ></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":140,"wires":[["a3c7266c.bdc778"]]},{"id":"f1d01500.429f18","type":"ui_button","z":"49bc0590.7dfbbc","name":"","group":"1f395ace.e1db25","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":170,"y":100,"wires":[["c4594523.600ab8"]]},{"id":"33b28050.5bd3a","type":"link in","z":"b1ae7875.db48b8","name":"Reset Puzzel One","links":["c4594523.600ab8"],"x":175,"y":200,"wires":[["d8cd97a6.e97d88"]]},{"id":"c4594523.600ab8","type":"link out","z":"49bc0590.7dfbbc","name":"Reset","links":["33b28050.5bd3a","af5b48f1.3fb8e8"],"x":355,"y":120,"wires":[]},{"id":"892e6de8.aab3b","type":"inject","z":"49bc0590.7dfbbc","name":"Started","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["c4594523.600ab8"]]},{"id":"66037046.c8f1b","type":"ui_template","z":"b1ae7875.db48b8","group":"e253c542.ba6148","name":"Status Header","order":1,"width":0,"height":0,"format":"<i style=\"position:absolute;top:5px;left:10px\" ng-class=\"msg.payload ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></i>\n<div style=\"position:absolute;left:50px;top:10px;font-size:larger;\">Puzzel One</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":220,"wires":[["a3c7266c.bdc778"]]},{"id":"77d1ab44.ba2e44","type":"ui_button","z":"49bc0590.7dfbbc","name":"","group":"1f395ace.e1db25","order":0,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":170,"y":180,"wires":[[]]},{"id":"1b2f43b7.bb79dc","type":"ui_button","z":"43a9b478.44ee7c","name":"","group":"d5d16fed.a2664","order":3,"width":0,"height":0,"passthru":true,"label":"force unlock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":110,"y":140,"wires":[["9cedbdba.b2bf5"]]},{"id":"5ae50873.90f8e8","type":"debug","z":"43a9b478.44ee7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":180,"wires":[]},{"id":"9cedbdba.b2bf5","type":"change","z":"43a9b478.44ee7c","name":"set unlock","rules":[{"t":"set","p":"puzzel_one_unlocked","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["2fbce3d4.38ad8c"]]},{"id":"2fbce3d4.38ad8c","type":"function","z":"43a9b478.44ee7c","name":"status","func":"msg.status=(msg.payload)?\"unlocked\":\"locked\";\nmsg.color=(msg.payload)?\"#00ff00\":\"#ff0000\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["f8904a97.8a0a68","8967adbd.cfa07"]]},{"id":"f8904a97.8a0a68","type":"ui_template","z":"43a9b478.44ee7c","group":"d5d16fed.a2664","name":"Puzzel Status Color Bar","order":2,"width":0,"height":0,"format":"<div ng-style=\"{width:'100%',height:'10px','background-color':msg.color}\" ></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":140,"wires":[["5ae50873.90f8e8"]]},{"id":"af5b48f1.3fb8e8","type":"link in","z":"43a9b478.44ee7c","name":"Reset Puzzel One","links":["c4594523.600ab8"],"x":155,"y":200,"wires":[["9cedbdba.b2bf5"]]},{"id":"8967adbd.cfa07","type":"ui_template","z":"43a9b478.44ee7c","group":"d5d16fed.a2664","name":"Status Header","order":1,"width":0,"height":0,"format":"<i style=\"position:absolute;top:5px;left:10px\" ng-class=\"msg.payload ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></i>\n<div style=\"position:absolute;left:50px;top:10px;font-size:larger;\">Puzzel One</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":220,"wires":[["5ae50873.90f8e8"]]}]