flow.json
[
    {
        "id": "49bc0590.7dfbbc",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1ae7875.db48b8",
        "type": "tab",
        "label": "Puzzel One",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43a9b478.44ee7c",
        "type": "tab",
        "label": "Puzzel Two",
        "disabled": false,
        "info": ""
    },
    {
        "id": "310e323a.3f4fde",
        "type": "tab",
        "label": "LCDDisplay",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdfc2121.4389c",
        "type": "tab",
        "label": "Keypad",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f9aad4f.35f562",
        "type": "tab",
        "label": "8 Digit Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "685a1b4c.2d2aa4",
        "type": "tab",
        "label": "Arcade Buttons",
        "disabled": false,
        "info": ""
    },
    {
        "id": "47ec3c35.097624",
        "type": "tab",
        "label": "Key",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6c771f2e.d15f6",
        "type": "tab",
        "label": "RED Leds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "23d211bd.2d4b6e",
        "type": "tab",
        "label": "Relays",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c97f3632.8ed9c8",
        "type": "tab",
        "label": "Servo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a67dba90.981d28",
        "type": "tab",
        "label": "LED Dial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2623fd5.e1fd1",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#525779",
                "baseFont": "Gill Sans,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#525779",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#525779",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#767ba2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#525779",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Gill Sans,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "83eb834b.a5f9c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e253c542.ba6148",
        "type": "ui_group",
        "z": "",
        "name": "Puzzel One",
        "tab": "83eb834b.a5f9c",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d5d16fed.a2664",
        "type": "ui_group",
        "z": "",
        "name": "Puzzel Two",
        "tab": "83eb834b.a5f9c",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1f395ace.e1db25",
        "type": "ui_group",
        "z": "",
        "name": "Main",
        "tab": "83eb834b.a5f9c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58876c76.3ad294",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "9b1d80a7.d0d81",
        "type": "serial-port",
        "z": "",
        "serialport": "COM17",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "a2725a42.7fe458",
        "type": "serial-port",
        "z": "",
        "serialport": "COM20",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "76dee732.bc8d58",
        "type": "arduino-board",
        "z": "",
        "device": "COM13"
    },
    {
        "id": "78f90a5a.5d36e4",
        "type": "arduino-board",
        "z": "",
        "device": "COM19"
    },
    {
        "id": "993673c5.7789d",
        "type": "serial-port",
        "z": "",
        "serialport": "COM21",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "46e2b868.2c1a18",
        "type": "ui_button",
        "z": "b1ae7875.db48b8",
        "name": "",
        "group": "e253c542.ba6148",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "force unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "d8cd97a6.e97d88"
            ]
        ]
    },
    {
        "id": "a3c7266c.bdc778",
        "type": "debug",
        "z": "b1ae7875.db48b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "d8cd97a6.e97d88",
        "type": "change",
        "z": "b1ae7875.db48b8",
        "name": "set unlock",
        "rules": [
            {
                "t": "set",
                "p": "puzzel_one_unlocked",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "198284a6.5521fb"
            ]
        ]
    },
    {
        "id": "198284a6.5521fb",
        "type": "function",
        "z": "b1ae7875.db48b8",
        "name": "status",
        "func": "msg.status=(msg.payload)?\"unlocked\":\"locked\";\nmsg.color=(msg.payload)?\"#00ff00\":\"#ff0000\"\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "38f4b9dd.0fab96",
                "66037046.c8f1b"
            ]
        ]
    },
    {
        "id": "38f4b9dd.0fab96",
        "type": "ui_template",
        "z": "b1ae7875.db48b8",
        "group": "e253c542.ba6148",
        "name": "Puzzel Status Color Bar",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div ng-style=\"{width:'100%',height:'10px','background-color':msg.color}\" ></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 690,
        "y": 140,
        "wires": [
            [
                "a3c7266c.bdc778"
            ]
        ]
    },
    {
        "id": "33b28050.5bd3a",
        "type": "link in",
        "z": "b1ae7875.db48b8",
        "name": "Reset Puzzel One",
        "links": [
            "c4594523.600ab8",
            "35c288c3.757398"
        ],
        "x": 175,
        "y": 200,
        "wires": [
            [
                "d8cd97a6.e97d88"
            ]
        ]
    },
    {
        "id": "66037046.c8f1b",
        "type": "ui_template",
        "z": "b1ae7875.db48b8",
        "group": "e253c542.ba6148",
        "name": "Status Header",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<i style=\"position:absolute;top:5px;left:10px\" ng-class=\"msg.payload ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></i>\n<div style=\"position:absolute;left:50px;top:10px;font-size:larger;\">Puzzel One</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "a3c7266c.bdc778"
            ]
        ]
    },
    {
        "id": "1b2f43b7.bb79dc",
        "type": "ui_button",
        "z": "43a9b478.44ee7c",
        "name": "",
        "group": "d5d16fed.a2664",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "force unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "9cedbdba.b2bf5"
            ]
        ]
    },
    {
        "id": "5ae50873.90f8e8",
        "type": "debug",
        "z": "43a9b478.44ee7c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "9cedbdba.b2bf5",
        "type": "change",
        "z": "43a9b478.44ee7c",
        "name": "set unlock",
        "rules": [
            {
                "t": "set",
                "p": "puzzel_one_unlocked",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "2fbce3d4.38ad8c"
            ]
        ]
    },
    {
        "id": "2fbce3d4.38ad8c",
        "type": "function",
        "z": "43a9b478.44ee7c",
        "name": "status",
        "func": "msg.status=(msg.payload)?\"unlocked\":\"locked\";\nmsg.color=(msg.payload)?\"#00ff00\":\"#ff0000\"\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "f8904a97.8a0a68",
                "8967adbd.cfa07"
            ]
        ]
    },
    {
        "id": "f8904a97.8a0a68",
        "type": "ui_template",
        "z": "43a9b478.44ee7c",
        "group": "d5d16fed.a2664",
        "name": "Puzzel Status Color Bar",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div ng-style=\"{width:'100%',height:'10px','background-color':msg.color}\" ></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "5ae50873.90f8e8"
            ]
        ]
    },
    {
        "id": "af5b48f1.3fb8e8",
        "type": "link in",
        "z": "43a9b478.44ee7c",
        "name": "Reset Puzzel One",
        "links": [
            "c4594523.600ab8",
            "35c288c3.757398"
        ],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "9cedbdba.b2bf5"
            ]
        ]
    },
    {
        "id": "8967adbd.cfa07",
        "type": "ui_template",
        "z": "43a9b478.44ee7c",
        "group": "d5d16fed.a2664",
        "name": "Status Header",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<i style=\"position:absolute;top:5px;left:10px\" ng-class=\"msg.payload ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></i>\n<div style=\"position:absolute;left:50px;top:10px;font-size:larger;\">Puzzel One</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 220,
        "wires": [
            [
                "5ae50873.90f8e8"
            ]
        ]
    },
    {
        "id": "ab43860f.7f8dd8",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "set button label",
        "func": "msg.label = msg.payload ? \"Stop\" : \"Start\";\nif(msg.payload){\n    msg.stopTime = Date.now();\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "e52bb061.65092"
            ]
        ]
    },
    {
        "id": "7ecd46da.c66578",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "running state",
        "func": "\nglobal.set(\"game_running\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "f1f70bf4.9ec8b8",
                "ab43860f.7f8dd8"
            ]
        ]
    },
    {
        "id": "e52bb061.65092",
        "type": "ui_button",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "group": "1f395ace.e1db25",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "480d4666.5ad8e8"
            ]
        ]
    },
    {
        "id": "80945237.653e3",
        "type": "link in",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "links": [
            "35c288c3.757398"
        ],
        "x": 55,
        "y": 240,
        "wires": [
            [
                "d9aa4ac0.c70d28",
                "ab43860f.7f8dd8"
            ]
        ]
    },
    {
        "id": "8b2b03dd.9e7be",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "stop game",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "7ecd46da.c66578"
            ]
        ]
    },
    {
        "id": "f1f70bf4.9ec8b8",
        "type": "switch",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "7c7bf627.682298"
            ],
            [
                "91197562.e53968",
                "a2614ede.a16cc"
            ]
        ]
    },
    {
        "id": "480d4666.5ad8e8",
        "type": "function",
        "z": "49bc0590.7dfbbc",
        "name": "toggle running ",
        "func": "msg.payload = !global.get(\"game_running\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "7ecd46da.c66578"
            ]
        ]
    },
    {
        "id": "d9aa4ac0.c70d28",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stopTime",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "game_running",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "91197562.e53968"
            ]
        ]
    },
    {
        "id": "3bef3b6e.0b15e4",
        "type": "link in",
        "z": "49bc0590.7dfbbc",
        "name": "stop game",
        "links": [],
        "x": 55,
        "y": 280,
        "wires": [
            [
                "8b2b03dd.9e7be"
            ]
        ]
    },
    {
        "id": "7c7bf627.682298",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "set end time",
        "rules": [
            {
                "t": "set",
                "p": "end_time",
                "pt": "global",
                "to": "$millis()+3600000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "end_time",
                "pt": "msg",
                "to": "end_time",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "start_time",
                "pt": "global",
                "to": "$millis()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "start_time",
                "pt": "msg",
                "to": "start_time",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 140,
        "wires": [
            [
                "4a3ccc5c.0fbc14",
                "2479246c.47e66c"
            ]
        ]
    },
    {
        "id": "91197562.e53968",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "get end time",
        "rules": [
            {
                "t": "set",
                "p": "end_time",
                "pt": "msg",
                "to": "end_time",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "start_time",
                "pt": "msg",
                "to": "start_time",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 180,
        "wires": [
            [
                "2479246c.47e66c"
            ]
        ]
    },
    {
        "id": "a2614ede.a16cc",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "stop log msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "game stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "ea1af99b.5ba6e8"
            ]
        ]
    },
    {
        "id": "4a3ccc5c.0fbc14",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "start log msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "starting game",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "e75c739c.a5d16"
            ]
        ]
    },
    {
        "id": "2479246c.47e66c",
        "type": "ui_template",
        "z": "49bc0590.7dfbbc",
        "group": "1f395ace.e1db25",
        "name": "Countdown",
        "order": 2,
        "width": "6",
        "height": "2",
        "format": "<script>\n</script>\n<div layout=\"column\" layout-align=\"center center\">\n<div>&nbsp;</div>\n<div id=\"countdown-display\" style=\"font-size:xx-large\"></div>    \n</div>\n\n<script>\n    (function(scope) {\n        let element=document.getElementById(\"countdown-display\");\n        let endTime=Date.now();\n        let updateTimeout;\n        let stopTime=0;\n        let startTime;\n        let running = false;\n        //console.log('Position 1');\n        //console.dir(scope);\n        \n        const calcTime = function(fromTime,toTime){\n                let timeRemaining=Math.ceil( (toTime-fromTime) / 1000 );\n                console.log(fromTime,toTime,timeRemaining);\n                let overTime = timeRemaining<0;\n                if(overTime){\n                    timeRemaining=-timeRemaining;\n                }\n                hour=Math.floor(timeRemaining/3600);\n                minutes=Math.floor(timeRemaining/60)%60;\n                seconds=timeRemaining%60;\n                let timeStr = (overTime?\"-\":\"\")+[hour,minutes,seconds].map((m)=>m.toString().padStart(2,'0')).join(\":\");\n                return timeStr;\n        }\n        \n        \n        \n        scope.$watch('msg',function(msg){\n            if(!msg) return;\n            //console.log(msg);\n            running = msg.payload;\n            stopTime = msg.stopTime;\n            startTime = msg.start_time;\n            endTime = msg.end_time;\n           // console.log('msg.payload=',running);\n            //console.log('msg.stopTime',stopTime);\n            //console.log('msg.endTime',endTime);\n            if(running){\n                clearTimeout(updateTimeout);\n                updateTimeout=setInterval(function(){\n                    element.innerHTML = calcTime(startTime,Date.now());\n                },100);\n                \n            }\n            else {\n                //console.log(\"game not running\",endTime,stopTime);\n                clearTimeout(updateTimeout);\n                element.innerHTML=stopTime>0 ? calcTime(startTime,stopTime) : \"00:00:00\";\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1410,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ea1af99b.5ba6e8",
        "type": "link out",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "links": [
            "179bf5b.708fa0a"
        ],
        "x": 1255,
        "y": 300,
        "wires": []
    },
    {
        "id": "e75c739c.a5d16",
        "type": "link out",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "links": [
            "179bf5b.708fa0a"
        ],
        "x": 1535,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0eef9e9.191008",
        "type": "ui_button",
        "z": "49bc0590.7dfbbc",
        "name": "",
        "group": "1f395ace.e1db25",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "35c288c3.757398"
            ]
        ]
    },
    {
        "id": "35c288c3.757398",
        "type": "link out",
        "z": "49bc0590.7dfbbc",
        "name": "Reset",
        "links": [
            "33b28050.5bd3a",
            "af5b48f1.3fb8e8",
            "80945237.653e3"
        ],
        "x": 295,
        "y": 120,
        "wires": []
    },
    {
        "id": "dc3a5a72.507928",
        "type": "inject",
        "z": "49bc0590.7dfbbc",
        "name": "Started",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "7bccdd8d.7d8374",
                "35c288c3.757398"
            ]
        ]
    },
    {
        "id": "7bccdd8d.7d8374",
        "type": "change",
        "z": "49bc0590.7dfbbc",
        "name": "Config",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "71374222.e574fc",
        "type": "serial out",
        "z": "310e323a.3f4fde",
        "name": "",
        "serial": "58876c76.3ad294",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "21c09078.34bb9",
        "type": "inject",
        "z": "310e323a.3f4fde",
        "name": "",
        "topic": "",
        "payload": "PRINT Welcome to ERIC\\n",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "71374222.e574fc"
            ]
        ]
    },
    {
        "id": "ec17c34d.2b166",
        "type": "inject",
        "z": "310e323a.3f4fde",
        "name": "",
        "topic": "",
        "payload": "print 1 Have a great time.",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "71374222.e574fc"
            ]
        ]
    },
    {
        "id": "9c073529.531688",
        "type": "serial in",
        "z": "bdfc2121.4389c",
        "name": "",
        "serial": "9b1d80a7.d0d81",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "de397d74.f264c"
            ]
        ]
    },
    {
        "id": "e1c339ed.3890d8",
        "type": "debug",
        "z": "bdfc2121.4389c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "bcafdf27.c59eb",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "print",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "b3773493.7de9e8",
        "type": "inject",
        "z": "310e323a.3f4fde",
        "name": "",
        "topic": "",
        "payload": "clear",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "71374222.e574fc"
            ]
        ]
    },
    {
        "id": "4d27f671.1db328",
        "type": "arduino in",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "12",
        "state": "PULLUP",
        "arduino": "76dee732.bc8d58",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "a78328a3.a3dd08"
            ]
        ]
    },
    {
        "id": "bf396980.8734a8",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "1",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "616d2b07.2fc084",
        "type": "status",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "scope": [
            "4d27f671.1db328"
        ],
        "x": 60,
        "y": 320,
        "wires": [
            [
                "2ff78e2f.c551b2",
                "bd95bd5d.d2459"
            ]
        ]
    },
    {
        "id": "192ffe4b.a3ac62",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "13",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "3ccf3489.deec8c",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "17",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 340,
        "y": 380,
        "wires": []
    },
    {
        "id": "4420244.4172edc",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "15",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "2ff78e2f.c551b2",
        "type": "change",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "bf396980.8734a8",
                "7d7d9bd3.186334",
                "b19adf4b.32064",
                "c17597ff.202cb8"
            ]
        ]
    },
    {
        "id": "da530766.203cb8",
        "type": "serial request",
        "z": "3f9aad4f.35f562",
        "name": "",
        "serial": "a2725a42.7fe458",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "9491074b.eea0d8"
            ]
        ]
    },
    {
        "id": "9491074b.eea0d8",
        "type": "debug",
        "z": "3f9aad4f.35f562",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "f4c72eb0.b3ab2",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "print 0000",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "c8bed457.54be78",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "align left",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "4506ac4.2cc8d54",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "align right",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "7f7b2a97.293ba4",
        "type": "inject",
        "z": "3f9aad4f.35f562",
        "name": "",
        "topic": "",
        "payload": "print 1234",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "da530766.203cb8"
            ]
        ]
    },
    {
        "id": "7d7d9bd3.186334",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "b19adf4b.32064",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 330,
        "y": 580,
        "wires": []
    },
    {
        "id": "c17597ff.202cb8",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 330,
        "y": 620,
        "wires": []
    },
    {
        "id": "b778b2e4.8b9b3",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "19",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "bd95bd5d.d2459",
        "type": "change",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "192ffe4b.a3ac62",
                "4420244.4172edc",
                "3ccf3489.deec8c",
                "b778b2e4.8b9b3"
            ]
        ]
    },
    {
        "id": "12b7a086.d328bf",
        "type": "arduino in",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "14",
        "state": "PULLUP",
        "arduino": "76dee732.bc8d58",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "dbe66d6f.a0fe6"
            ]
        ]
    },
    {
        "id": "f92602d8.8b1b4",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "dbe66d6f.a0fe6",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "74581a95.aa2164",
        "type": "arduino in",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "16",
        "state": "PULLUP",
        "arduino": "76dee732.bc8d58",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "f92602d8.8b1b4"
            ]
        ]
    },
    {
        "id": "b659b22f.7cd8a",
        "type": "arduino in",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "18",
        "state": "PULLUP",
        "arduino": "76dee732.bc8d58",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "a127c966.b1a9a8"
            ]
        ]
    },
    {
        "id": "a78328a3.a3dd08",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 310,
        "y": 20,
        "wires": []
    },
    {
        "id": "a127c966.b1a9a8",
        "type": "arduino out",
        "z": "685a1b4c.2d2aa4",
        "name": "",
        "pin": "0",
        "state": "OUTPUT",
        "arduino": "76dee732.bc8d58",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "de397d74.f264c",
        "type": "function",
        "z": "bdfc2121.4389c",
        "name": "trim newlines",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "e1c339ed.3890d8"
            ]
        ]
    },
    {
        "id": "ef1fbdd.00ff34",
        "type": "arduino in",
        "z": "47ec3c35.097624",
        "name": "",
        "pin": "14",
        "state": "PULLUP",
        "arduino": "78f90a5a.5d36e4",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "36f1a646.ac0f2a"
            ]
        ]
    },
    {
        "id": "2189c4d3.3b9fbc",
        "type": "arduino out",
        "z": "47ec3c35.097624",
        "name": "",
        "pin": "15",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0808d56.bec94",
        "type": "status",
        "z": "47ec3c35.097624",
        "name": "",
        "scope": [
            "ef1fbdd.00ff34"
        ],
        "x": 60,
        "y": 220,
        "wires": [
            [
                "fe3089a.e552678"
            ]
        ]
    },
    {
        "id": "fe3089a.e552678",
        "type": "change",
        "z": "47ec3c35.097624",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "2189c4d3.3b9fbc"
            ]
        ]
    },
    {
        "id": "36f1a646.ac0f2a",
        "type": "debug",
        "z": "47ec3c35.097624",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "34859c26.50c624",
        "type": "change",
        "z": "47ec3c35.097624",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4c26a360.220cac",
        "type": "arduino out",
        "z": "6c771f2e.d15f6",
        "name": "",
        "pin": "13",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "673e65ff.6fc15c",
        "type": "inject",
        "z": "6c771f2e.d15f6",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "4c26a360.220cac"
            ]
        ]
    },
    {
        "id": "8506405.72239c",
        "type": "arduino out",
        "z": "6c771f2e.d15f6",
        "name": "",
        "pin": "12",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "b4ce54f1.7777f8",
        "type": "arduino out",
        "z": "6c771f2e.d15f6",
        "name": "",
        "pin": "10",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "f3e06787.adf718",
        "type": "inject",
        "z": "6c771f2e.d15f6",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "4c26a360.220cac"
            ]
        ]
    },
    {
        "id": "6f4a38fc.61b008",
        "type": "inject",
        "z": "6c771f2e.d15f6",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "8506405.72239c"
            ]
        ]
    },
    {
        "id": "65f57baf.0e3d94",
        "type": "inject",
        "z": "6c771f2e.d15f6",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "8506405.72239c"
            ]
        ]
    },
    {
        "id": "9f6e2ffd.c2223",
        "type": "inject",
        "z": "6c771f2e.d15f6",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "b4ce54f1.7777f8"
            ]
        ]
    },
    {
        "id": "6332de39.bbed8",
        "type": "inject",
        "z": "6c771f2e.d15f6",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "b4ce54f1.7777f8"
            ]
        ]
    },
    {
        "id": "2481e5a7.4b6a9a",
        "type": "comment",
        "z": "6c771f2e.d15f6",
        "name": "leds",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "84362ea3.9ab0e",
        "type": "arduino out",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "pin": "11",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "54a61fd2.8d91d",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "7fb7f95e.cf88e8"
            ]
        ]
    },
    {
        "id": "7fb7f95e.cf88e8",
        "type": "arduino out",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "e155b194.a72f6",
        "type": "arduino out",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 330,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a8cb3a9.92db9c",
        "type": "arduino out",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "6860c788.0abfb8",
        "type": "arduino out",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "78f90a5a.5d36e4",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "bcf3093c.81e5e8",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "7fb7f95e.cf88e8"
            ]
        ]
    },
    {
        "id": "80a14ea8.e5339",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e155b194.a72f6"
            ]
        ]
    },
    {
        "id": "b6b79116.14d98",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "e155b194.a72f6"
            ]
        ]
    },
    {
        "id": "786e729d.78fd8c",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "4a8cb3a9.92db9c"
            ]
        ]
    },
    {
        "id": "a106cae0.1d9578",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "4a8cb3a9.92db9c"
            ]
        ]
    },
    {
        "id": "e642027e.6f6b4",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "6860c788.0abfb8"
            ]
        ]
    },
    {
        "id": "fed53d73.24d75",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "6860c788.0abfb8"
            ]
        ]
    },
    {
        "id": "2c580a6a.721a16",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "84362ea3.9ab0e"
            ]
        ]
    },
    {
        "id": "13fca583.cffafa",
        "type": "inject",
        "z": "23d211bd.2d4b6e",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "84362ea3.9ab0e"
            ]
        ]
    },
    {
        "id": "a0a0693e.691198",
        "type": "comment",
        "z": "23d211bd.2d4b6e",
        "name": "relays",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "e579b63f.d98d78",
        "type": "arduino out",
        "z": "c97f3632.8ed9c8",
        "name": "",
        "pin": "3",
        "state": "SERVO",
        "arduino": "78f90a5a.5d36e4",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "eefdbeeb.956f3",
        "type": "inject",
        "z": "c97f3632.8ed9c8",
        "name": "",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "e579b63f.d98d78"
            ]
        ]
    },
    {
        "id": "7abd0dd0.9f93a4",
        "type": "inject",
        "z": "c97f3632.8ed9c8",
        "name": "",
        "topic": "",
        "payload": "170",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "e579b63f.d98d78"
            ]
        ]
    },
    {
        "id": "fce8bb3c.d80888",
        "type": "serial in",
        "z": "a67dba90.981d28",
        "name": "LED Dial",
        "serial": "993673c5.7789d",
        "x": 60,
        "y": 60,
        "wires": [
            [
                "6724e411.41193c"
            ]
        ]
    },
    {
        "id": "4b0063a8.27917c",
        "type": "debug",
        "z": "a67dba90.981d28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "6724e411.41193c",
        "type": "function",
        "z": "a67dba90.981d28",
        "name": "parse dial input",
        "func": "let output = new Array(3);\n\nlet keyValue = msg.payload.trim().split(\"=\");\n\nlet value = keyValue[1];\n\nmsg.key = keyValue[0];\n\nif(msg.key==\"B0\"){\n    output[0] = {payload:parseInt(value)};\n}\nelse if(msg.key==\"C0\"){\n    vals = value.split(\" \");\n    output[1] = {payload:parseInt(vals[0])};\n    output[2] = {payload:parseInt(vals[1])};\n}\n\nreturn output;",
        "outputs": 3,
        "noerr": 0,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "4b0063a8.27917c"
            ],
            [
                "1167a7b1.7d3b68"
            ],
            [
                "dfd8e71e.a8ec78"
            ]
        ]
    },
    {
        "id": "2b3a623b.0dffbe",
        "type": "serial out",
        "z": "a67dba90.981d28",
        "name": "LED Dial",
        "serial": "993673c5.7789d",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "9eb36f1f.4773a",
        "type": "inject",
        "z": "a67dba90.981d28",
        "name": "",
        "topic": "",
        "payload": "color red",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "2b3a623b.0dffbe"
            ]
        ]
    },
    {
        "id": "fd56869a.1decb8",
        "type": "inject",
        "z": "a67dba90.981d28",
        "name": "",
        "topic": "",
        "payload": "color blue",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "2b3a623b.0dffbe"
            ]
        ]
    },
    {
        "id": "2f8b63dc.145cac",
        "type": "inject",
        "z": "a67dba90.981d28",
        "name": "",
        "topic": "",
        "payload": "color green",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "2b3a623b.0dffbe"
            ]
        ]
    },
    {
        "id": "c568d4b6.9aca58",
        "type": "inject",
        "z": "a67dba90.981d28",
        "name": "",
        "topic": "",
        "payload": "color f000f0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "2b3a623b.0dffbe"
            ]
        ]
    },
    {
        "id": "1167a7b1.7d3b68",
        "type": "debug",
        "z": "a67dba90.981d28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "dfd8e71e.a8ec78",
        "type": "debug",
        "z": "a67dba90.981d28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 120,
        "wires": []
    }
]